---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/search?api_key=<API_KEY>&format=json&max=1000&q=tomato&sort=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3072'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "tomato",
                "sr": "1",
                "ds": "any",
                "start": 0,
                "end": 1000,
                "total": 3950,
                "group": "",
                "sort": "r",
                "item": [
                    {
                        "offset": 0,
                        "group": "Vegetables and Vegetable Products",
                        "name": "Tomatoes, red, ripe, canned, packed in tomato juice",
                        "ndbno": "11531",
                        "ds": "SR",
                        "manu": "none"
                    },
                    {
                        "offset": 1,
                        "group": "Vegetables and Vegetable Products",
                        "name": "Tomato products, canned, sauce, with tomato tidbits",
                        "ndbno": "11559",
                        "ds": "SR",
                        "manu": "none"
                    },
                    {
                        "offset": 2,
                        "group": "Vegetables and Veget[...]
